/**
* Chat service
* Chat service
*
* The version of the OpenAPI document: 1.0.0
* Contact: alxminyaev@gmail.com
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package dev.alxminyaev.feature.chat.api

import io.ktor.locations.KtorExperimentalLocationsAPI
import io.ktor.locations.Location

object Paths {
    /**
     * Get list of chats for user (Получить список чатов пользователя)
     * 
     */
    @KtorExperimentalLocationsAPI
    @Location("/api/v1/chat") class getListChats()

    /**
     * Get list of last messages from chat
     * 
     * @param chatId ID of chat 
     * @param offset The number of items to skip before starting to collect the result set 
     * @param limit The numbers of items to return 
     */
    @KtorExperimentalLocationsAPI
    @Location("/api/v1/chat/{chatId}/messages") class getMessagesByChatId(val chatId: kotlin.Long, val offset: kotlin.Long, val limit: kotlin.Int)

}
